/*----------ASSET LIBRARY (CSS)----------*/





/*-----GRID-----*/

.grid{
	display: block;
}





/*-----CARDS-----*/

.card_Square{
	width: 300px;
	height: 175px;
}

.card_Semi-Rounded{
	width: 300px;
	height: 175px;
}

.card_Rounded{
	width: 300px;
	height: 175px;
}
